@media only screen and (min-width: 750px) {

   main {
        position: relative;
        width: 100%;
    }

    picture {
        display: flex;
        gap: 0;
    }
    .data-container, .weather-container {
        position: absolute;
        background-color: var(--background-transparent);
        padding-top: 60px;
    }

    .data-container {
        top: 10px;
        left: 40px; 
        width: 310px;
    }

    .weather-container {
        width: 290px;
        bottom: 40px;
        right: 20px;
    }

    .weather-icon {
        display: none;

    }

    h2 {
        position: absolute;
        background-color: var(--secundary-color);
        color: var(--primary-color);
        width: 95%;
        top: 10px;
        right: 30px;
        height: 50px;
        padding: 0;
    }

    .hero img {
        border: none;
    }

    #icon::after {
        content: "⛅";
        position: absolute;
        top: 5px;

    }

}