* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;;
}

header, main,  footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 3px solid rgba(70, 126, 247, 0.178);
    background-color: rgba(152, 231, 255, 0.637);
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}

h2 {
    margin: 1.5rem 0;
}